.ui-header .ui-title {margin: 0 15px} /* override jQuery.Mobile, set it the same like .ui-footer .ui-title */

body1 {
   font: large/x-large 'Lucida Sans',sans-serif;
}
.wrap {
    overflow: hidden;
    margin: 10px;
}
.box {
   float: left;
   position: relative;
   width: 4em; /* control the width */
   padding: 0, 0, 2em, 0;
   margin: 0;
}
.boxInner {
   position: absolute;
   left: 4px;
   right: 4px;
   top: 1px;
   bottom: 1px;
   overflow: hidden;
   margin:0;
   padding:0;
}
.boxInner img {
   width: 100%;
}
.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background: #eee;
   background: #EEE;
   color: #000;
   padding: 10px 10px 10px 9px;
   text-align: center;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles -17px*/
.box { top: 0px; padding-bottom: 12%; /* control the height */ }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles -20px 24%*/
.box { top: 0px; padding-bottom: 24%; /* control the height */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}