html,
body {
   margin:0;
   padding:0;
   height:100%;
   overflow: hidden;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	width: 100%;
}
ui-page {
   min-height:100%;
   position:relative;
}
ui-header {
   background:#ff0;
   padding:10px;
}
ui-content {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
ui-footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
article {
	display: -webkit-box;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
}

article section.view {
	display: -webkit-box;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
h1{color:white};